.app {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #0a9396;
  border-radius: 8px;
  background-color: #3c686b5b;
}

button {
  padding: 8px 16px;
  margin: 5px 0;
  cursor: pointer;
  border: 2px solid #0a9396;
  border-radius: 6px;
  color: black;
}

button:hover {
  background-color: #ddd;
}

input[type="text"] {
  padding: 5px;
  margin: 0 5px;
}

.image-picker {
  border: 2px solid #0a9396;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #00607300;
}

.image-picker img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent;
}

.image-picker img:hover {
  border: 2px solid #9bffde;
}

.edit-area {
  margin-top: 20px;
}

.meme {
  position: relative;
  display: inline-block;
  border: 2px solid #333;
}

.meme img {
  max-width: 100%;
  height: auto;
  display: block;
}

.meme-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-family: monospace, arial, helvetica;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000;
  text-align: center;
  width: 90%;
  word-wrap: break-word;
}

.text-top {
  top: 10px;
}

.text-bottom {
  bottom: 10px;
}

.controls {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  background: #679596;
}

.input-box {
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.match-text-size {
  background-color: #01a7aa;
  border: 1px solid #524343;
  padding: 6px 12px;
  margin: 8px 0;
  font-size: 14px;
  color: #111;
  border-radius: 3px;
}

.match-text-size:hover {
  background-color: #0a9396;
  cursor: pointer;
}

.title-text {
  color: #ee9b00;
}

.emoji-row {
  border: 2px solid #0a9396;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  max-width: 200px;
}

.emoji-row:hover {
  cursor: pointer;

  animation: subtleWobble 0.5s ease-in-out infinite;
}

@keyframes subtleWobble {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.pick-a-meme {
  color: white;
}
